node_modules
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.gitattributes
README.md
LICENSE
.vscode
.zed
.npmrc
.prettierrc
.eslintrc.cjs
.graphqlrc
.editorconfig
.svelte-kit
Makefile
helm-charts
build
package
.env
.env/local
.editorconfig
.idea
coverage*
npm-debug.log
bun-debug.log
