services:
  api:
    build:
      context: ./apps/api
      dockerfile: Dockerfile
    # image: prisma-hackathon-api:latest   # tag the image
    container_name: elysia-api
    ports:
      - "3000:3000"
    # env_file:
    #   - apps/api/.env
    restart: unless-stopped
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
    #   interval: 30s
    #   timeout: 3s
    #   retries: 5
    networks:
      - coolify # ← join the existing Coolify network
    # labels:
    #   - traefik.enable=true
    #   - "traefik.http.routers.api.rule=Host(`api.plates.simmons.studio.io`) && PathPrefix(`/`)"
    #   - traefik.http.routers.api.entryPoints=https

  web:
    build:
      context: ./apps/web
      dockerfile: Dockerfile
    container_name: sveltekit-web
    ports:
      - "3001:3001"
    # env_file:
    #   - apps/web/.env
    depends_on:
      - api
    restart: unless-stopped
    networks:
      - coolify # ← join the existing Coolify network

  # migrate:
  #   build:
  #     context: ./apps/api
  #     dockerfile: Dockerfile
  #   container_name: api-migrate # optional, runtime container name
  #   depends_on:
  #     - api
  #   command: ["bun", "run", "prisma:migrate"]
  #   restart: "no"
  #   environment:
  #     DATABASE_URL: ${DATABASE_URL}
networks:
  coolify:
    external: true # ← crucial: don't create, just attach
    name: coolify # ← exact name from `docker network ls`
