services:
  api:
    build:
     context: ./apps/api
     dockerfile: Dockerfile
    image: prisma-hackathon-api:latest   # tag the image
    container_name: elysia-api
    ports:
      - "3000:3000"
    env_file:
      - apps/api/.env
    restart: unless-stopped

  web:
    build:
      context: ./apps/web
      dockerfile: Dockerfile
    container_name: sveltekit-web
    ports:
      - "3001:3001"
    env_file:
      - apps/web/.env
    depends_on:
      - api
    restart: unless-stopped

  # migrate:
  #   image: prisma-hackathon-api   # reference the same image
  #   container_name: api-migrate  # optional, runtime container name
  #   depends_on:
  #     - api
  #   entrypoint: ["bun", "run", "migrate"]
  #   environment:
  #     DATABASE_URL: ${DATABASE_URL}
