@font-face {
    font-family: 'main';
    src:
        url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('ttf');
        font-weight: 100 900;
        font-style: normal;
}

@font-face {
    font-family: 'main';
    src:
        url('/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('ttf');
        font-weight: 100 900;
        font-style: italic;
}