@font-face {
    font-family: 'HeavyEquipment';
    src:
        url('/fonts/HeavyEquipment/HeavyEquipment.otf') format('opentype');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
}
/*@font-face {
    font-family: 'Jersey';
    src:
        url('/fonts/Jersey/Jersey25-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
}*/

@font-face {
    font-family: 'Montserrat';
    src:
        url('/fonts/Montserrat/Montserrat-VariableFont_wght.woff2') format('woff2');
        font-weight: 100 900;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src:
        url('/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.woff2') format('woff2');
        font-weight: 100 900;
        font-style: italic;
        font-display: swap;
}