@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));

body {
	font-family: 'Montserrat Variable', sans-serif;
}

/*:root {
	--bg: white;
	--fg: black;
}

.dark {
	--bg: #0a0a0a;
	--fg: #fafafa;
}*/

.plates {
	font-family: 'Jersey 25', ui-monospace, monospace, 'Courier New', Courier;
	/* font-family: 'Rubik Mono One', ui-monospace, monospace, 'Courier New', Courier; */
	font-weight: 400;
	font-style: normal;
}

.plate-input {
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-weight: 400;
	/* optional: simulate embossed plate */
	text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
}
.dark .plate-input--reflective & {
	background: linear-gradient(to bottom, #fff, #ededed);
	opacity: 0.5;
	border-width: 2px;
	box-shadow:
		inset 0 1px 3px rgba(255, 255, 255, 0.8),
		0 2px 4px rgba(0, 0, 0, 0.1);
}
:not(.dark) .plate-input--reflective & {
	background: linear-gradient(to bottom, #666, #333);
	border-width: 1px;
	box-shadow:
		inset 0 1px 3px rgba(0,0,0, 0.8),
		0 2px 4px rgba(0, 0, 0, 0.1);
}
.txt-btn {
	@apply cursor-pointer rounded-lg border-2 border-gray-600 px-6 py-1 text-gray-600 hover:border-gray-500 hover:bg-gray-500/10 hover:text-gray-500 dark:border-amber-600 dark:text-amber-600 hover:dark:border-amber-500 hover:dark:bg-amber-500/20 hover:dark:text-amber-500;
}
