@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));
@import '../../static/fonts.css';

body {
	font-family: 'Montserrat', sans-serif;
}

/*:root {
	--bg: white;
	--fg: black;
}

.dark {
	--bg: #0a0a0a;
	--fg: #fafafa;
}*/
html:not(.hydrated) * {
  transition: none !important;
}


.plates {
	font-family: 'Jersey 25', ui-monospace, monospace, 'Courier New', Courier;
	/* font-family: 'Rubik Mono One', ui-monospace, monospace, 'Courier New', Courier; */
	font-weight: 400;
	font-style: normal;
}

.plate-input {
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-weight: 400;
	/* optional: simulate embossed plate */
	text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
}
.dark .plate-input--reflective & {
	background: linear-gradient(to bottom, #fff, #ededed);
	opacity: 0.5;
	border-width: 2px;
	box-shadow:
		inset 0 1px 3px rgba(255, 255, 255, 0.8),
		0 2px 4px rgba(0, 0, 0, 0.1);
}
:not(.dark) .plate-input--reflective & {
	background: linear-gradient(to bottom, #666, #333);
	border-width: 1px;
	box-shadow:
		inset 0 1px 3px rgba(0,0,0, 0.8),
		0 2px 4px rgba(0, 0, 0, 0.1);
}
input,
textarea,
select {
    outline: none; /* remove browser default */
    transition: all 0.2s ease-in-out; /* smooth focus effect */
    @apply bg-gray-300 dark:bg-gray-700 text-gray-800 dark:text-gray-300;
    @apply border border-gray-400 dark:border-gray-500 rounded-xl;
    @apply px-3 py-2;
    @apply focus:outline-none focus:ring-2 focus:ring-amber-600 focus:border-amber-600;
    @apply placeholder-gray-400 dark:placeholder-gray-500 placeholder:font-medium;
}
button {
    transition: all 0.2s ease-in-out; /* smooth focus effect */
    @apply cursor-pointer;
    @apply p-2 rounded-xl;
    @apply hover:dark:text-amber-500 hover:dark:bg-gray-600/40 hover:bg-amber-600 hover:text-white;
    @apply focus:outline-none focus:ring-0 focus:border-0 focus-visible:outline-none;
}
a {
    @apply px-2 py-1 rounded-md text-amber-700 dark:text-amber-400 hover:text-black dark:hover:text-white  font-medium transition-colors duration-200;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    @apply ring-2 ring-amber-600; /* Tailwind ring on focus */
    @apply border-amber-600; /* optional: change border color too */
}
.txt-btn {
	@apply cursor-pointer rounded-lg border-2 border-gray-600 px-4 py-1 text-gray-600 hover:border-gray-500 hover:bg-gray-500/10 hover:text-gray-500 dark:border-amber-600 dark:text-amber-600 hover:dark:border-amber-500 hover:dark:bg-amber-500/20 hover:dark:text-amber-500;
}
/* app.css */
.card {
  @apply rounded-xl border border-gray-300/60 dark:border-gray-700
         bg-white/70 dark:bg-gray-900/70 backdrop-blur
         p-4 shadow-sm;
}
